@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", system-ui, -apple-system, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #111827; /* bg-gray-900 */
  color: #ffffff;
}

#app {
  min-height: 100vh;
}

/* Domyślne style dla scrollbara */
@layer components {
  .scrollbar-default {
    @apply scrollbar-thin scrollbar-thumb-gray-600 scrollbar-track-transparent hover:scrollbar-thumb-gray-500;
  }

  .scrollbar-stable {
    @apply scrollbar-default overflow-y-scroll;
    scrollbar-gutter: stable;
  }
}
